@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

*{
  font-family: poppins;
  padding: 0;
  margin: 0;
}
.product img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.product tr{
  vertical-align: middle;
}
.product td{
  text-align: center;
}

.single-product {
  text-align: center;
}
.single-product img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #fff;
}

i{
  pointer-events: none;
}